body {
  background-color: rgb(190, 255, 204);
  font-family: "Arial", sans-serif;
}

h1 {
  color: darkgreen;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
